.advantages {
  padding: 0 30px;

  .titleh2 {
    margin: 0;
    padding: 30px 0;
  }
}

.advantages__list {
  .list-none()
}

.advantages__img {
  padding: 0 0 20px;
}

.advantages__text {
  margin: 0;
  padding: 0 20px 30px 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}
