.contacts__title {
  padding: 30px 30px 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts__list {
  .list-none();
  padding: 0 30px;
}

.contacts__item {
  padding: 0 0 20px;
  line-height: 30px;
}

.contacts__map {
  width: 100%;
  padding: 40px 0 10px;
}
