.main-nav {
  display: flex;
  justify-content: flex-end;
}

.main-nav__hamburger {
  width: 20px;
  height: 14px;
  margin: 32px 30px;
  background: url("../img/icon-menu-open.svg") no-repeat center;
  border: none;
}

.main-nav__wrapper {
  display: none;
}
