.page-header {
  width: 320px;
  height: 80px;
  margin: 0 auto;
}

.page-header__link {
  position: absolute;
  top: 0;
  left: calc(50% - 43px);
}

.page-header__logo {
  width: 86px;
  height: 35px;
  padding: 22px 0;
}
