.review  {
  padding: 0 30px;

  .titleh2 {
    margin: 0;
    padding: 30px 0 20px;
  }
}

.review__list {
  .list-none()
}

.review__text {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.review__author {
  margin: 0;
  padding: 30px 20px 6px 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}

.review__nickname {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}
