.titleh1 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;

  &--catalog {
    background-color: #f1f1f1;
    padding: 72px 30px;
  }

  &--form {
    background-color: #f1f1f1;
    padding: 72px 30px;
  }
}
