.week-item {
  padding: 0 30px;

  .titleh2 {
    margin: 0;
    padding: 30px 0 4px;
  }
}

.week-item__addition {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.week-item__description {
  margin: 0;
  padding: 28px 0 18px;
}

.week-item__list {
  .list-none()
}

.week-item__feature {
  margin: 0;
  padding: 12px 0;
  border-bottom: 1px solid #ececec;
}

.week-item__img {
  padding: 30px 0 20px;
  margin: 0 auto;
}

.week-item__price {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
}
